html
    head
        title HOME
        style 
            include home.css
    body
        include navbar.pug
        h1 Welcome In My Express Web Application
        div.home
            h3. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad minima quam molestias, libero facere nulla cum aspernatur, incidunt exercitationem vel corrupti delectus reprehenderit? Quidem molestias laudantium ratione, necessitatibus incidunt accusantium. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad minima quam molestias, libero facere nulla cum aspernatur, incidunt exercitationem vel corrupti delectus reprehenderit? Quidem molestias laudantium ratione, necessitatibus incidunt accusantium.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad minima quam molestias, libero facere nulla cum aspernatur, incidunt exercitationem vel corrupti delectus reprehenderit? Quidem molestias laudantium ratione, necessitatibus incidunt accusantium.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad minima quam molestias, libero facere nulla cum aspernatur, incidunt exercitationem vel corrupti delectus reprehenderit? Quidem molestias laudantium ratione, necessitatibus incidunt accusantium.
