html
    head 
        style 
            include navbar.css
    body
        div.nav
            ul(type="none")
                li
                    a.link(href='/') Home
                li
                    a.link(href='/services') Services
                li
                    a.link(href='/contact') Contact