html
    head
        title SERVICES
        style 
            include services.css
    body
        include navbar.pug
        div.services
            div.product 
                h1 iphone X 
                div.card
                    img(src="https://images-na.ssl-images-amazon.com/images/I/61nlT53kRKL._AC_SL1500_.jpg", alt="product")
                    p.price $1580
                    p
                        button Buy
            div.product
                h1 Samsung S21 
                div.card
                    img(src="https://images-na.ssl-images-amazon.com/images/I/61ZRIbT-g%2BL._AC_SL1000_.jpg", alt="product")
                    p.price $1320
                    p
                        button Buy
            div.product
                h1 huawei p40
                div.card
                    img(src="https://images-na.ssl-images-amazon.com/images/I/517x4ivEwwL._AC_SL1007_.jpg", alt="product")
                    p.price $899
                    p
                        button Buy
            div.product
                h1 Oppo Reno4
                div.card
                    img(src="https://images-na.ssl-images-amazon.com/images/I/81gWo34pJuL._AC_SL1500_.jpg", alt="product")
                    p.price $789
                    p
                        button Buy