html
    head
        title CLOSED!
        style 
            include workingtime.css
    body
        h1 Sorry!! We are closed now
        div.message
            h3 Please Come back in working time (Monday to Friday,  from 9 to 17)